#
# eco
# by Auxilor
#


# Options to fix villager bugs left behind from old (buggy) versions.
disable-display-on-villagers: false
villager-display-fix: false

# DropQueue by default uses a faster collated queue system where all drops
# that originate from the same player on the same tick are dropped together.
# Disable it if it changes drop mechanics too much for you.
use-fast-collated-drops: true

# bStats is important and you should keep it enabled.
# This option is only here because of compliance with data protection laws.
enable-bstats: true